<div class="form-group{% if errors.username %} has-danger{% endif %}">
    <label for="{{ key }}">{{ label }}</label>
    <input type="{{ type ?: 'text' }}" id="{{ key }}" name="{{ key }}" class="form-control {% if errors[key]
    %}form-control-danger{%
    endif
    %}">
    {% if errors[key] %}
        <small class="form-text text-muted">{{ errors[key] | join(',') }}</small>
    {% endif %}
</div>